<section>
  <h1 class="title-page">Registro</h1>
  <div class="content-elements">
    <div>
      <select>
        <option>
          Departamento
        </option>
        <option>
          Cundinamarca
        </option>
      </select>
    </div>
  
    <div>
      <select>
        <option>
          Municipio
        </option>
        <option>
          Bogota
        </option>
      </select>
    </div>
  
    <div>
      <input 
        type="text"
        placeholder="Contaminacion"
        />
    </div>
  </div>

  <div class="content-button">
    <button class="primary-button">
      Guardar
    </button>
  </div>
</section>
