.content-elements {
  display: flex;

  > div {
    flex: 1;
    margin: 5px;
    
    select {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #302f2f;
      background: none;
      width: 100%;
    }

    input {
      padding: 11px;
      border-radius: 5px;
      border: 1px solid #302f2f;
      background: none;
      width: 100%;
    }
  }
}

.content-button {
  display: flex;
  justify-content: flex-end;
  
  button {
    padding: 10px 20px;
    text-transform: uppercase;
  }
}