/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

.button-icon {
  background: none;
  border: none;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
}

.primary-button {
  background: #3dc965;
  border-radius: 4px;
  border: none;
  padding: 5px 7px;
  color: white;
  cursor: pointer;
}

.title-page {
  font-size: 25px;
  text-transform: uppercase;
}