<header>
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="/assets/images/logo.jpg"/>
    </a>

  </div>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/departamento']">
          Departamento
        </a>
      </li>
      <li>
        <a [routerLink]="['/municipio']">
          Municipio
        </a>
      </li>
      <li>
        <a [routerLink]="['/registro']">
          Registro
        </a>
      </li>
      <li>
        <a [routerLink]="['/reporte']">
          Reporte
        </a>
      </li>
    </ul>
  </nav>
</header>

